<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="let good of cart; index as i">
            <td>{{ good.name }}</td>
            <td>{{ good.price | currency }}</td>
            <td>
                <input type="number" placeholder="Amount (kg)" [(ngModel)]="good.amount">
            </td>
            <td>{{ good.price * good.amount | currency }}</td>
            <td>
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-dengar">Delete</button>
            </td>
        </tr>
    </tbody>
</table> -->

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Amount</th>
    <th scope="col">Total</th>
    <th scope="col">Option</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let good of cart; index as i">
    <td>{{good.name}}</td>
    <td>{{good.price | currency}}</td>
    <td>
      <input type="number" placeholder="Amount (kg)" [(ngModel)]="good.amount">
    </td>
    <td>{{good.price * good.amount | currency}}</td>
    <td>
        <button class="btn btn-primary" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>