<div class="body">
    <div class="container">
        <h1 class="text-center">Log In</h1>
        <form #f="ngForm" (ngSubmit)="login(f)">
    
            <input ngModel type="email" name="email" #email="ngModel" class="form-control" placeholder="Enter Your Email" required email>
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">This Field Is Empty</div>
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Your Input Not Email</div>

            <input ngModel type="password" #password="ngModel" name="password" class="form-control" placeholder="Enter Your Password" required minlength="6">
            <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">This Field Is Empty</div>
            <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">Your Password Is Less</div>
                
            <button class="btn btn-primary" [disabled]="f.invalid">Login</button>
        </form>
        <br>
    </div>
</div>